@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

#root {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.App {
  border-radius: 4px;
  overflow: hidden;
  background-color: #fafafa;
}

.BooksForm {
  position: relative;
  width: 100%;
  /* height: 140px; */
  /* background-color: #999; */
  padding: 0 100px 240px 100px;
  box-sizing: border-box;
}

.addNewBook {
  line-height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888888;
  margin: 29px 0 19px 0;
}

.bookFormDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#title {
  width: 55%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  line-height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  padding: 13px 17px;
  margin-right: 45px;
  box-sizing: border-box;
  outline: none;
}

.categoryContainer {
  width: 285px;
  margin-right: 34px;
  position: relative;
  background-image: url("./categoryArrow.png");
  background-repeat: no-repeat;
  background-position: right 20px top 20px;
  background-size: 12px 16px;
  background-color: #fff;
}

.categoryArrow {
  position: absolute;
  right: 20px;
  top: 22px;
}

#category {
  appearance: none;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  line-height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  padding: 13px 17px;
  width: 100%;
  /* margin-right: 34px; */
  outline: none;
  background-color: transparent;
}

#newBook {
  border: none;
  background-color: #0290ff;
  width: 184px;
  height: 45px;
  line-height: 18px;
  font-family: 'Roboto Slab';
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 4px;
  /* margin-right: 4px; */
}

.formError {
  font-family: Montserrat;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: brown;
  padding: 4px;
  /* position: absolute; */
  width: 100%;
  left: 0;
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.BooksList {
  width: 100%;
  /* background-color: #555; */
  padding: 38px 100px 0 100px;
  box-sizing: border-box;
}

header {
  height: 95px;
  padding: 0 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookstorecms-label {
  width: 240px;
  height: 37px;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  color: #0290ff;
  display: inline-block;
}

.header-label {
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.9px;
  color: #121212;
  display: inline-block;
  margin-left: 47px;
  cursor: pointer;
}

.opacity05 {
  opacity: 0.5;
}

.user-oval {
  /* position: absolute;
  right: 0;
  top: calc(50% - 22px); */
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('/src/resources/images/guest-16.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px 17px; */
  border: 1px solid #e8e8e8;
}

.categorySelect {
  display: none;
}

.bookPanel {
  /* width: 100%; */
  /* height: 170px; */
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 27px 28px 27px;
}

.bookDetails {
  /* background-color: wheat; */
}

.bookMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookMenu-vline {
  width: 2px;
  height: 24px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  margin: auto 17px;
}

.bookTitle {
  font-family: 'Roboto Slab';
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #121212;
}

.bookCategory {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #121212;
}

.writer-name {
  font-family: 'Roboto Slab';
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  line-height: 19px;
  margin-bottom: 21px;
}

.bookMenu button {
  border: none;
  font-family: 'Roboto Slab';
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  background-color: transparent;
  padding: 0;
  line-height: 19px;
  cursor: pointer;
}

.bookProgress {
  /* background-color: #ccc; */
  width: 55%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progressOval {
  width: 68px;
  height: 68px;
  /* border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1; */
  border: 5px solid #307bbe;
  border-radius: 50%;
}

.progressVals {
  margin-left: 22px;
}

.progressPerc {
  font-family: Montserrat;
  font-size: 32px;
  color: #121212;
}

.progressPercLab {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  color: #121212;
}

.progress-vline {
  width: 2px;
  height: 70px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  margin: 0 59px 0 79px;
}

.progressChapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: left; */
}

.currentChapterLab {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-family: 'Roboto Slab';
  font-size: 13px;
  font-weight: 300;
  color: #121212;
  margin-bottom: 7px;
}

.currentChapter {
  line-height: 21px;
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
  margin-bottom: 23px;
}

.progressChapter button {
  background-color: #0290ff;
  border: none;
  color: #fff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18px;
  padding: 7px 27px 8px 30px;
  border-radius: 4px;
}

.booksList-bline {
  width: 100%;
  height: 1px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 30px;
  }
  
  .headerContainer-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-label {
    margin-left: 0;
  }

  .BooksList {
    padding: 38px 30px 0 30px;
  }

  .BooksForm {
    padding: 0 30px;
  }

  .progress-vline {
    margin: 0 15px 0 15px;
  }

  .bookFormDetails {
    flex-direction: column;
  }

  #title,
  .categoryContainer,
  #newBook {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .bookPanel {
    flex-direction: column;
    align-items: flex-start;
  }

  .bookPanel > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bookDetails {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid  #e8e8e8;
  }

  .bookMenu {
    width: 240px;
  }

  .bookProgress {
    width: 100%;
  }
}